<div class="formulario">
  <h2>Ingresa tus datos</h2>
  <form action="">
      <div class="campo">
        <label for="" class="form-label">Nombre</label>
        <input type="text" class="form-control" name="nombre" [(ngModel)]="nombre">
      </div>
      
      <div class="campo">
        <label for="" class="form-label">Apellidos</label>
        <input type="text" class="form-control" name="apellidos" [(ngModel)]="apellidos">
      </div>

      <div class="campo">
        <label for="" class="form-label">Edad</label>
        <input type="text" class="form-control" name="edad" [(ngModel)]="edad">
      </div>
      <div>
        <button class="btn btn-success boton1" (click)="guardar()" >
          Guardar 
        </button>
        <button class="btn btn-success boton1" (click)="listar()" >
          Listar 
        </button>
        
      </div>
  </form>
</div>
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nro</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Edad</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody *ngFor="let usuario of lista;index as i">
      <tr>
        <th scope="row">{{usuario.num}}</th>
        <td>{{usuario.nombre}}</td>
        <td>{{usuario.apellidos}}</td>
        <td>{{usuario.edad}}</td>
        <td><button class="btn btn-success" (click)="eliminar(i)">Eliminar</button></td>
      </tr>
    </tbody>
  </table>
</div>


<router-outlet></router-outlet>
